* {
    box-sizing: border-box;
    outline: none;
}

body {
<<<<<<< HEAD
    font-family: 'Catamaran', sans-serif;
    font-size: 80.5%;
    color:#111111 ;
    background-color: #F5F5F5;
=======

    font-family: 'Catamaran', sans-serif;
    font-size: 80.5%;
    color:#111111 ;

    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: #363636;

    background-color: #F5F5F5;

>>>>>>> cf2a47f2399b24b1043e52ae702bb3ef74662953

   
}

<<<<<<< HEAD
=======

>>>>>>> cf2a47f2399b24b1043e52ae702bb3ef74662953

.carte{
	background-color: #F4E9E9;
	text-align: center;
	width: 85%;
	margin: 0 auto;

}
ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-around;
}

ul li {
	flex: 1 calc(100% / 3);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px
<<<<<<< HEAD
}
li img {
	width: 100%
}

/*createfnb*/
fieldset {
 padding:15px 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #F5C5C5;
 border-radius: 15px;
  width:420px;
 }
 fieldset div{
 	display: inline-block;
 	padding-right: 30px;
 }
 legend{

 	font-weight:bold;

 }

 .formfnb input,textarea{
 	padding:10px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:450px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    display: block;
    margin: 5px;
 }
 .formfnb label{
 	font-weight:bold;
 	margin-left : 20px;

 }
 input[type=submit] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px grey;
 cursor:pointer;
 padding: 8px;
 }
 form {
  margin: 50px auto;

  width: 500px; 
  border: 1px solid #172b4e;
  border-bottom-color: #142647;
  border-radius: 5px;
  background-image: -webkit-radial-gradient(cover,#ffbf00, #ff794d);
  padding: 20px 50px
 }
.create{
	margin-left: 280px
}
/*fin create fnb*/
=======
}
header a {
    margin: 0 auto;
    font-size: 2.2em;
    text-decoration: none;
    color: #506982;
}



img {
    width: 100%
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 5%
}

#logo {
    color: #363636;
    font-size: 8em;
    font-family: 'Great Vibes';
}

header nav {
    margin-right: 5%;
    display: flex;
    color: #363636;
}

header a {

    padding: 4%
}

.presentation {
    height: 30%;
}

h1 {
    text-align: center;
    font-size: 3em;
}


footer {
    margin: 0 auto;
    font-size: 2em;
    background-color: #E5E5E5;
    padding: 5%;
    text-align: center;
}

footer a {
    font-size: 1em;
    padding: 2%;
    color: black;
}

#mail {
    border-radius: 0.2em;
    border: 0px;
    padding: 1%;
}

#subscribe {
    background-color: #363636;
    border-radius: 0.2em;
    border: 0px;
    padding: 1%;
    color: white;

}


li img{
	width: 100%;
}

>>>>>>> cf2a47f2399b24b1043e52ae702bb3ef74662953
